@import "tailwindcss";
@config "../tailwind.config.js";


@layer base {
  body {
    @apply bg-industrial-950 text-slate-100 antialiased selection:bg-cognitex selection:text-black;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-industrial-800/80 backdrop-blur-md border border-industrial-700 shadow-xl;
  }

  .text-glow {
    text-shadow: 0 0 10px rgba(6, 182, 212, 0.5);
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #0f172a;
  }

  ::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #06b6d4;
  }
}